$container-width: 1200px;

$white: #FFFFFF;
$black: #2c3e50;
$success: #1dba66;
$primary: #1690e9;
$secondary: #e1e4e8;
$danger: #d44950;

$primary-action: #0094F6;
$primary-action-extra: #47a7f5;

$success-action: #12ac5c;
$success-action-extra: #11c468;

$secondary-extra: #b8b8b8;

$card-width: 240px;
$card-border: $secondary;

