$container-width: 1200px;

$white: #FFFFFF;
$black: #2c3e50;

$success: #0ed66e;
$primary: #1690e9;

$primary-action: #0094F6;
$primary-action-extra: #47a7f5;

$success-action: #12ac5c;
$success-action-extra: #0fe074;
