.btn {
  background-color: transparent;
  color: $white;
  transition: .3s;
  padding: 12px 16px;
  font-family: inherit;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
  background-position: center;
  box-shadow: $secondary-shadow;
  cursor: pointer;
}
.btn[disabled] {
  opacity: .7;
  cursor: initial;
}
.btn-big {
  padding: 14px 18px;
  font-size: 16px;
}
.btn-small {
  padding: 10px 14px;
  font-size: 12px;
}
.btn-success,
.btn-outline-success,
{
  @extend .btn;
  background-color: $success;
}
.btn-outline-success {
  background-color: transparent;
  border: 1px solid $success;
}

.btn-primary,
.btn-outline-primary,
{
  @extend .btn;
  background-color: $primary;
}
.btn-outline-primary {
  background-color: transparent;
  border: 1px solid $primary;
}

/*** Action ***/

.btn.btn-primary:hover,
.btn.btn-outline-primary:hover
{
  background: $primary-action-extra radial-gradient(circle, transparent 1%, $primary-action-extra 1%) center/15000%;
}
.btn.btn-primary:active,
.btn.btn-outline-primary:active
{
  background-color: $primary-action;
  border-color: $primary-action;
  background-size: 100%;
  transition: background 0s;
}

.btn.btn-success:hover,
.btn.btn-outline-success:hover
{
  background: $success-action-extra radial-gradient(circle, transparent 1%, $success-action-extra 1%) center/15000%;
}
.btn.btn-success:active,
.btn.btn-outline-success:active
{
  background-color: $success-action;
  border-color: $success-action;
  background-size: 100%;
  transition: background 0s;
}

.btn-outline-primary:hover,
.btn-outline-success:hover {
  color: $white;
}
