.checkbox-wrap {
  cursor: pointer;
  .checkbox {
    position: absolute;
    cursor: inherit;
    opacity: 0;
    & + label {
      position: relative;
      padding: 0;
      cursor: inherit;
    }
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $secondary;
    }
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    &:disabled + label {
      color: $secondary-extra;
      cursor: auto;
    }
    &:disabled + label:before {
      box-shadow: none;
      background: $secondary;
    }
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
              2px 0 0 white,
              4px 0 0 white,
              4px -2px 0 white,
              4px -4px 0 white,
              4px -6px 0 white,
              4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  .checkbox-success {
    @extend .checkbox;
    &:checked + label:before {
      background: $success;
      box-shadow: $secondary-shadow;
    }
  }
  .checkbox-primary {
    @extend .checkbox;
    &:checked + label:before {
      background: $primary;
      box-shadow: $secondary-shadow;
    }
  }
}
